<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head :: head(title='Sign In')">
</head>
<body>
<div class="bg-dark vh-100 d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card border-0 shadow rounded-3 my-5">
                    <div class="card-body p-4">
                        <form name="f" th:action="@{/login}" method="post">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="username" name="username"
                                       placeholder="Username" required>
                                <label for="username">Username</label>
                            </div>
                            <i class="bi-alarm" style="font-size: 2rem; color: cornflowerblue;"></i>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="password" name="password"
                                       placeholder="Password" required>
                                <label for="password">Password</label>
                            </div>
                            
                            <p class="small text-danger text-break mt-2" th:if="${param.error}">
                                Username or password not recognised
                            </p>

                            <hr>

                            <div class="d-grid">
                                <button class="btn btn-primary fw-bold p-2 fs-4" type="submit">
                                    Log in
                                </button>
                            </div>
                        </form>
                        <p class="m-0 mt-2 p-0">Don't have an account? <a href="/register">Register</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>