<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<nav class="navbar navbar-dark bg-white fixed-top px-5" aria-label="Main nav bar">
    <div class="navbar-brand fs-2 text-black">Wibbly</div>
    <form th:action="@{/logout}" method="post">
        <div class="dropdown">
            <div class="dropdown-toggle" id="dropdownUsername"
                 data-bs-toggle="dropdown" aria-expanded="false" sec:authentication="name">
            </div>
            <ul class="dropdown-menu" aria-labelledby="dropdownUsername">
                <input class="dropdown-item" type="submit" value="Logout"/>
            </ul>
        </div>
    </form>
</nav>
</html>