<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/head :: head(title='URL Shortner')">
</head>

<body class="bg-dark" style="padding-top: 5rem">

<nav th:replace="fragments/navbar">
</nav>

<div class="container mt-8 align-items-center mx-auto w-75">
    <div class="card mt-4">
        <h2 class="card-header fs-2">
            Existing URLs
        </h2>

        <div class="card-body">
            <div class="list-group" th:each="url : ${urls}">
                <a class="list-group-item d-flex justify-content-between" th:href="@{'/urls/' + ${url.getId()}}">
                    <div class="col-sm-6">
                        <h3 class="fw-bold fs-5"
                            th:text="${#httpServletRequest.getRequestURL().toString().replace(#httpServletRequest.getRequestURI(),'')}
                            + '/' + ${url.getShortUrl()}">
                        </h3>
                        <p>Number of clicks: <span th:text="${url.getNumberOfClicks()}"></span></p>
                    </div>
                    <div class="col-sm-5 text-end" th:text="${url.getFullUrl()}"></div>
                    <div class="col-sm-auto ms-2"><i class="fa fa-edit text-primary"></i></div>
                </a>
            </div>
            <a href="/urls/add" class="fs-2 text-decoration-none">
                <div class="card-footer bg-primary text-white d-flex justify-content-center align-items-center p-2 rounded mt-2">
                    <i class="fa fa-plus text-white"></i>
                </div>
            </a>
        </div>
    </div>
</div>
</body>
</html>
