<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head :: head(title='URL Shortner')">
</head>

<body>
<nav class="navbar navbar-dark bg-dark fixed-top" aria-label="Main nav bar">
    <div class="container-fluid">
        <div class="navbar-brand">Wibbly</div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu"
                aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav me-auto mb-2">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
                <li class="nav-item">
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" value="Logout"/>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-8 border-dark">
    <div class="align-items-center">
        <div class="card">
            <h2 class="card-header bg-dark text-white fs-2">
                Your Existing URLs
            </h2>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                    <th scope="col">Full</th>
                    <th scope="col">Short</th>
                    </thead>
                    <tbody th:each="url : ${urls}">
                    <td th:text="${url.getFullUrl()}"></td>
                    <td th:text="${url.getShortUrl()}"></td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>