<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head :: head(title='URL Shortner')">
</head>
<body>
<div class="container-fluid vh-100">
    <div class="row h-100 justify-content-center bg-dark text-white">
        <div class="d-flex h-100 justify-content-center align-items-center flex-column">
            <h1>Welcome to Wibbly</h1>

            <p>A simple URL shortener written in Java</p>

            <a class="btn btn-lg btn-primary w-50 mt-4" href="login">
                Sign in
            </a>

            <a class="btn btn-lg btn-outline-primary w-50 mt-4" href="register">
                Sign up
            </a>
        </div>
    </div>
</div>
</body>
</html>